<body>
 <div class="col-lg-10 offset-lg-1 ">
  <div class="page-title">
   <h2>商品詳細</h2>
  </div>
   <div class="col-lg-10 offset-lg-1">
    <% if @product.product_status == true %>
     <div class="card text-center">
       <div class="card-header">
        <strong><h2><%= @product.name %></h2></strong>
       </div>
        <div class="card-body">
        <h5 class="card-title"><%= attachment_image_tag @product, :image,:fill, 900, 480, format: 'jpeg' %></h5>
        <p class="card-text"></p>
        </div>
         <div class="card-footer text-muted">
         <strong><h3><%= @product.description %></h3></strong>
         <strong><h4>(税込価格):<%= (@product.price*1.08).round.to_s(:delimited, delimiter: ',') %>円</h4></strong>
         </div>
     </div>
     <div class="d-flex justify-content-end mt-4 mb-4">
      <%= form_with model: @cart_product,url: cart_products_path, local:true do |f| %>
      <%= f.hidden_field :product_id, value: @product.id %>
      <%= f.select :quantity, options_for_select((1..20).to_a) %>
      <%= f.submit "カートに入れる" %>
      <% end %>
     </div>
     <% else %>
         <p class="text-center"><strong>大変申し訳ございません。<br>
         こちらの商品はただいま在庫がございません。<br>
         恐れ入りますが、他の商品をご選択ください。</strong></p>
         <%= link_to  products_path do %>
         <div class="d-flex justify-content-center">
       <button type="button" class="btn btn-outline-secondary w-25 mt-5">買い物を続ける</button><br>
      </div>
    <% end %>
  <% end %>
  </div>
  </div>
</body>


