<body>
<%= flash[:notice] %>
 <div class='col-md-6 offset-md-3 mt-5 h5 text-center'>
　 <div class="about-box">
　  <h4>
    <strong><p class="about-box-text">ようこそ、ながのCAKEへ！</p><br>
            <p>このサイトはケーキ販売のECサイトになります。</p><br>
            <p>会員でない方も商品の閲覧はできますが、</p><br>
            <p>購入には会員登録が必要になります。</p>
    </strong>
    </h4>
   </div>
 </div>
 <div class="new-product-body">
  <div class="new-products-cintainer">
   <div class='row'>
    <div class="col-10 offset-lg-1 ">
      <div class="page-title">
       <h2>新着商品</h2>
      </div><br>
      <div class="d-flex flex-wrap">
        <% @products.each do |product| %>
         <div class="card mr-2 mb-2">
          <%= link_to product_path(product.id) do %>
            <%= attachment_image_tag product, :image,:fill, 280, 180, format: 'jpeg',class:"card-img-top"%>
          <% end %>

          <div class="card-body col-lg-9">

          <strong><%= product.name %></strong><br>
         <strong>¥<%= (product.price*1.08).round.to_s(:delimited, delimiter: ',') %></strong>
           </div>
            </div>
        <% end %>
     </div>
     <p class="text-right">
       <%= link_to "全ての商品を見る >", products_path %>
     </p>
   </div>
  </div>
 </div>

</body>
