<main>
    <div class="container">
      <div class="row">
        <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
        <h2>新規会員登録</h2>

        <%= form_with model: @member, url: member_registration_path, local: true do |f| %>
          <%= render "public/shared/error_messages", resource: resource %>
          <table class="table">
            <thead>
              <tr>
                <th>名前　　　　　　　　　　　</th>
                <th>
                  <div class="field">
                    <%= f.label :（性） %>
                    <%= f.text_field :last_name, autofocus: true, autocomplete: "family-name" %>
                  </div>
                </th>
                <th>
                  <div class="field">
                    <%= f.label :（名） %>
                    <%= f.text_field :first_name, autocomplete: "given-name" %>
                  </div>
                </th>
              </tr>
              <tr>
                <th>フリガナ</th>
                <th>
                  <div class="field">
                    <%= f.label :（セイ） %>
                    <%= f.text_field :kana_last_name, autocomplete: "family-name" %>
                  </div>
                </th>
                <th>
                  <div class="field">
                    <%= f.label :（メイ） %>
                    <%= f.text_field :kana_first_name, autocomplete: "given-name" %>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>メールアドレス</td>
                <td>
                  <div class="field">
                    <%= f.email_field :email, autocomplete: "email" %>
                  </div>
                </td>
              </tr>
              <tr>
                <td>郵便番号（ハイフンなし）</td>
                <td>
                  <div class="field">
                    <%= f.text_field :postal_code, autocomplete: "postal-code" %>
                  </div>
                </td>
              </tr>
              <tr>
                <td>住所</td>
                <td>
                  <div class="field">
                    <%= f.text_field :address, autocomplete: "address-line1" %>
                  </div>
                </td>
              </tr>
              <tr>
                <td>電話番号（ハイフンなし）</td>
                <td>
                  <div class="field">
                    <%= f.telephone_field :phone_number, autocomplete: "tel-national" %>
                  </div>
                </td>
              </tr>
              <tr>
                <td>パスワード（６文字以上）</td>
                <td>
                  <div class="field">
                    <%= f.password_field :password, autocomplete: "new-password" %>
                  </div>
                </td>
              </tr>
              <tr>
                <td>パスワード（確認用）</td>
                <td>
                  <div class="field">
                    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                  </div>
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <div class="actions">
                    <%= f.submit "新規登録" %>
                  </div>
                </td>
              </tr>
            </table>
          <% end %>
          <h2>既に登録済みの方</h2>
          <%= render "public/shared/links" %>
        </div>
      </div>
    </div>
</main>
