<header>
  <nav class="navbar navbar-expand-lg navbar-light header" >
    <div class="container">
      <nav class="navbar-brand navbar-left header-logo">
        <a href="/">
            <img src=<%= asset_path('logo1.png') %> width="140" height="140">
          </a>
      </nav>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
    <div class="w-75 collapse navbar-collapse">
     <ul class="nav navbar-nav ml-auto">
      <% if member_signed_in? %>
       <li class="navbar nav-member-name text-center">
         ようこそ、<%= current_member.last_name %>さん！
       </li>
       <li class="nav-item text-right">
         <%= link_to "マイページ", members_my_page_path, class: "btn glyphicon glyphicon-home text-right" %>
       </li>
       <li class="nav-item">
         <%= link_to "商品一覧", products_path, class: "btn glyphicon glyphicon-briefcase text-right" %>
       </li>
       <li class="nav-item">
         <%= link_to "カート", cart_products_path,class: "btn glyphicon glyphicon-shopping-cart text-right" %>
       </li>
       <li class="nav-item">
         <%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: "btn glyphicon glyphicon-log-out text-right" %>
       </li>

      <%elsif admin_signed_in? %>
       <li class="nav-item">
         <%= link_to "商品一覧", admin_products_path, class: "header_btn glyphicon glyphicon-briefcase text-right" %>
       </li>
       <li class="nav-item">
         <%= link_to "会員一覧", admin_members_path, class: "header_btn glyphicon glyphicon-user text-right"  %>
       </li>
       <li class="nav-item">
         <%= link_to "注文履歴一覧", admin_root_path, class: "header_btn glyphicon glyphicon-list-alt text-right" %>
       </li>
       <li class="nav-item">
         <%= link_to "ジャンル一覧", admin_genres_path, class: "header_btn glyphicon glyphicon-th-list text-right" %>
       </li>
       <li class="nav-item">
         <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "header_btn glyphicon glyphicon-log-out text-right" %>
       </li>

      <% else %>
       <li class="nav-item">
         <%= link_to "About", about_path, class: "header_btn glyphicon glyphicon-briefcase text-right" %>
       </li>
       <li class="nav-item">
         <%= link_to "商品一覧", products_path, class: "header_btn glyphicon glyphicon-briefcase text-right" %>
       </li>
       <li class="nav-item">
         <%= link_to "新規登録", new_member_registration_path, class: "header_btn glyphicon glyphicon-sign_up text-right" %>
       </li>
       <li class="nav-item">
         <%= link_to "ログイン", new_member_session_path, class: "header_btn glyphicon glyphicon-log-in text-right" %>
       </li>
      <% end %>
     </ul>
    </div>
  </nav>
</header>

